body{
    height: 100%;
    background-image: url(https://cloudfront-eu-central-1.images.arcpublishing.com/larazon/M53O4N2ZJRF3JAPNIXHHV7CD6Y.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.parrafo_promedio {
   border: 2px solid black;
   width: 10%;
   height: 20px;
}
.container_promedio {
    border: 2px solid black;
    width: 50%;
    padding: 5px 5px ;
    background-color: rgba(53, 53, 203, 0.719);
    margin: 50px 300px;
}